.burger {
  &-button {
    display: none;
    position: fixed;
    z-index: 1000;
    background: #9c69e2;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    left: 5%;
    span,
    span::before,
    span::after {
      position: absolute;
      background: #212353;
      margin-top: -1px;
      margin-left: -13px;
      left: 50%;
      top: 50%;
      height: 2px;
      width: 26px;
    }
    span::before,
    span::after {
      transition: 0.4s;
      content: "";
    }
    span::before {
      transform: translateY(4px);
    }
    span::after {
      transform: translateY(-4px);
    }
  }
}
.burger-active {
  span {
    height: 0;
  }
  span::before {
    transform: translateY(0) rotate(135deg);
  }
  span::after {
    transform: translateY(0) rotate(-135deg);
  }
}
@media (max-width: 480px) {
  .burger-button {
    display: block;
  }
}
