.header {
  background: $color-white;
  &-wrap {
    padding-top: 30px;
  }
  &__logo {
    max-width: 49px;
    max-height: 35px;
  }
  &-navbar {
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    a {
      position: relative;
      transition: 0.3s;
      color: $color-grey;
      &:before {
        transition: 0.3s;
        background: $color-grey;
        content: "";
        display: block;
        opacity: 0;
        width: 0;
        height: 2px;
      }
      &:hover {
        &:after {
          opacity: 1;
          width: 100%;
          transition: 0.3s;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .header {
    &-wrap {
      padding: 45px 0;
    }
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    top: 0;
    vertical-align: middle;
    z-index: 1000;
    position: fixed;
    width: 100%;
    &-wrap {
      margin-top: 5px;
      padding: 0;
    }
    &__logo {
      max-width: none;
      max-height: none;
      margin-bottom: 10px;
      img {
        width: 70px;
        height: 50px;
      }
    }
    &-navbar {
      font-size: 25px;
      margin-top: 10px;
      justify-content: space-between;
      a {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .header {
    &__logo {
      display: flex;
      justify-content: flex-end;
    }
    &-wrap {
      .row {
        .col-lg-6 {
          .button-demo {
            display: none;
          }
        }
      }
    }
    &__logo {
      margin: 0;
    }
    &-navbar {
      transition: 0.5s;
      left: -100vh;
      position: fixed;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
      height: 100vh;
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.navbar-active {
  left: 0;
  position: fixed;
  background: rgba($color: black, $alpha: 0.9);
}
